:root {
  font: 16px / 1 'Bitter', serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: solid black;
  margin: 0;
  height: 3rem;
  background-color: #003e7c;
}
nav li {
  list-style: none;
  margin: 1rem;
  color: white;
}
.Nav-link {
  color: white;
  text-decoration: none;
}
.homepage-head {
  display: flex;
  margin: 2rem;
  justify-content: center;
  color: #e76222;
}

.homepage-main {
  display: flex;
  justify-content: center;
}

.oilers-logo {
  height: 20rem;
  width: auto;
}
.all-employees-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.allEmployees {
  border: dotted #cb622e;
  margin: 2rem;
}

.employee-profile-image {
  height: 13rem;
}
.employeeLabel {
  margin: 0.5rem;
}
.employee-box-head {
  margin: 0;
  height: 2rem;
  color: white;
  background-color: #cb622e;
  font-style: italic;
}
.form-h2 {
  margin: 0;
  border: solid black;
  color: white;
  padding-top: 1rem;
  height: 2rem;
  background-color: #cb622e;
}

.employee-info-box {
  background-color: #6b9be8;
}
